@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
/* Nav section styling */
.nav{
position: absolute;
width: 100%;
height: 500px;
left: 0px;
top: 0px;
background-image: url(/images/back.jpg);
}
.fom{
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.705);
}
nav{
    text-align: center;
}
nav li{
    list-style: none;
    display: inline;
    padding: 10px;
    font-size: 25px;
}
nav li a{
    color: white;
    text-decoration: none;
    font-family: 'Salsa', cursive;
}
nav li a:hover{
    background-color: #742E71;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}
#lash{
    color: white;
    font-family: 'Salsa', cursive;
    font-size: 150px;
    text-align: center;
    padding-top: 60px;
}
h2{
    color: black;
    font-size: 80px;
    padding-top: 45.6%;
    text-align: center;
    font-family: 'Salsa', cursive;
}
p{
    font-family: 'Salsa', cursive;
}

  .bttn{
      text-align: center;
      background-color: #742E71;
      height: 40px;
      width: 99.5px;
      font-size: 20px;
      font-family: 'Salsa', cursive;
      border-radius: 50px;
      
  }
  .bttn a{
      text-decoration: none;
      color: white;
  }

/* footer */
.footer{
    background-color: #742E71;
    position: absolute;
    width: 100%;
    height: 250px;
    /* left: 0px; */
    /* margin-top: 30%; */
}
.map{
    display: flex;
}
.lock{
    padding: 6%;
    /* margin-bottom: 20%; */
}
.cation{
    font-size: 30px;
    color: white;
    font-family: 'Salsa', cursive;
}
h4{
    color: white;
    font-family: 'Salsa', cursive;
}
.bass{
    font-size: 30px;
    color: white;
    /* margin-top: 20px; */
    font-family: 'Salsa', cursive;
}
.cont{
    padding: 6%;
    /* margin-bottom: 20%; */
}
