 .c{
    right: 40%;
    top:80%; 
    top:80%;
    display: inline;
    
 }
footer{
    background-color: purple;
    padding-block-start: 20%;
    margin-top: 40%;
    height:2%;
}
.Hi{
display:display;
}