nav ul li{
    display: inline;
    padding: 26px 40px;
}
nav ul li a{
    font-size: x-large;
    font-weight:bolder;
    color: black;
    font-style: italic;
    text-decoration: none;
}
    tr,th,td{
    padding: 20px 40px;
    border: 10px double black;
}
body{
    background-image: url(/ukuts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}